.tableprofile {
    max-width: 500px;
}

.tableprofile tr:first-child > td {
    border-top-color: transparent;
}

.tableprofile tr > td {
    border-top: 1px solid #888888;
}

.tableprofile tr > td:first-child {
    color: #9d9d9d;
}