<!-- main navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']"><i class="icon-graduation-cap"></i> Apprendre.io</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">

        <li *ngIf="(isLoggedIn$ | async)" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Compte <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/me']">Mon compte</a></li>
            <li role="separator" class="divider"></li>
            <li><a [routerLink]="['/login']">Se déconnecter</a></li>
          </ul>
        </li>

        <li><a *ngIf="!(isLoggedIn$ | async)" [routerLink]="['/login']">Se connecter</a></li>
        <li><a *ngIf="!(isLoggedIn$ | async)" [routerLink]="['/register']">S'enregistrer</a></li>

      </ul>
    </div>
    <!--/.navbar-collapse -->
  </div>
</nav>
