{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />

  <title>TITLE WEBSITE</title>


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  {% block extra_head %} {% endblock %}
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">


      {{ user.token.key }}


      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if request.user.is_authenticated %}{{ request.user.email }}{% else %} Menu {% endif %}<span class="caret"></span></a>

          <ul class="dropdown-menu" role="menu">
            <!-- these pages don't require user token -->
            {% if not user.is_authenticated %}
            <!--<li><a href="% url 'password-reset' %">Password Reset</a></li>-->
            {% endif %}


            <!-- these pages require user token -->
            {% if user.is_authenticated %}
            <!--<li><a href="% url 'user-details' %">User details</a></li>-->
            <!--<li><a href="% url 'password-change' %">Password change</a></li>-->
            <li><a href="{% url 'profile_detail' %}">Profile</a></li>
            <li class="divider"></li>
            <li><a href="/rest-auth/logout/">Logout</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>




      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="/">
                <img src="{% static 'img/logo.png' %}">
            </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="#">test</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Page Content -->
  <div class="container">

    {% block content %}{% endblock %}

  </div>


  <hr>

  <!-- Footer -->
  <div class="container">
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright 2017 Kevin Estalella</p>
        </div>
      </div>
      <!-- /.row -->
    </footer>
  </div>


   {% block extra_body %}{% endblock %}

</body>

</html>
