{% extends "myprofile/base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Mon compte" %}</h2>
<div class="table-responsive">
    <table class="table tableprofile">
        <tr>
            <td>{% trans "Prénom" %}:</td><td>{{request.user.first_name}}</td>
        </tr>
        <tr>
            <td>{% trans "Nom de famille" %}:</td><td>{{request.user.last_name}}</td>
        </tr>
        <tr>
            <td>{% trans "Email" %}:</td><td>{{request.user.email}}</td>
        </tr>
<!--
        <tr>
            <td>{% trans "Coefficient" %}:</td><td>{{request.user.profile.coefficient}}</td>
        </tr>
-->
    </table>
</div>

<a href="{% url 'profile_edit' %}" class="btn btn-info">{% trans "Modifier" %}</a>
{% endblock %}
