{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}
{% load i18n %}

{% block content %}
    <h2>{% trans "Modifier mon compte" %}</h2>
    <div class="row">
        <div class="col-md-8 col-lg-6">
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                {% bootstrap_form user_form %}
                {% bootstrap_form user_profile_form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% trans 'Valider' %}
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    <!-- /.row -->

{% endblock %}