{% extends "apptest/base.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Mon compte" %}</h2>
<div class="table-responsive">
    <table class="table tableprofile">
        GNIAAAA

    </table>
</div>

{% endblock %}
