<app-navbar></app-navbar>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron text-center">
  <div class="overlay">
    <div class="container">
      <h1><i class="icon-graduation-cap"></i>Apprendre.io&nbsp;&nbsp;&nbsp;</h1>
      <p>Apprendre.io est une plate-forme de mise en relation entre élève et répétiteur <br/> à Genève, Lausanne et toute la Suisse Romande.</p>
      <p><a class="btn btn-patreon btn-lg" href="/accounts/signup/" role="button">Devenez Répétiteur</a></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <alert></alert>
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
