<h1>Liste des répetiteurs</h1>

<div class="user-list">
    ﻿<div *ngFor="let profile of profiles" class="col-md-6 user-list__item">
      <a [routerLink]="['/user', profile.id]">
        <div>
          <img class="img-responsive avatar" src="http://127.0.0.1:8000/static/img/nondisponible.png">
          <div>
            <strong>{{profile.user.first_name}} {{profile.user.last_name}}</strong><br>
            phone <strong>{{profile.phone}}</strong><br>
            address <strong>{{profile.address}}</strong><br>
            description <strong>{{profile.description}}</strong><br>
            published <strong>{{profile.published}}</strong><br>
          </div>
        </div>
      </a>
    </div>
</div>
