h2 {
  margin: auto;
  text-align: center;
}

.user-detail {
  border: 1px solid #d9d9d9;
  padding: 20px 80px;
  max-width: 400px;
  margin: auto;
  margin-top: 20px;
}

.user-detail .user-detail__name {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.user-detail img {
  margin: auto;
}
