<h2>Mon profil</h2>

<div class="user-detail clearfix">
      <div>
        <img class="img-responsive avatar" src="http://127.0.0.1:8000/static/img/nondisponible.png">
        <h3 class="user-detail__name">{{currentProfile.user.first_name}} {{currentProfile.user.last_name}} <small>CH</small></h3>
        <span class="label label-info">html5</span>
        <span class="label label-info">html5</span>
        <span class="label label-info">html5</span><br><br>
        Télephone <strong>{{currentProfile.phone}}</strong><br>
        adresse <strong>{{currentProfile.address}}</strong><br>
        <hr>
        <strong>bio:</strong><br>
        {{currentProfile.description}}

        <div class="btn btn-info">Modifier mon profil</div>
      </div>
</div>
